/*Estilos para la pagina en general-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------------------------------------*/

/*Estilos para el header -----------------------------------------------------------------------------------*/

header{ /*Estilo general para el header*/
    width: 100%;
    height: 200px;
    /*background-color: rgb(202, 239, 251);*/
}

#tituloPagina{ /*Estilos para el titulo*/
    font-family: math, Arial, Helvetica, sans-serif;
    color: rgb(5, 26, 255);
    font-weight: 900;
    text-align: center;
    width: 800px;
    padding: 20px;
    margin: 20px auto;
}

.navegacion{ /*Estilos para los links de navegacion*/

    /*Formato de la caja*/
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: blueviolet;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(254, 237, 0, 0.9);

    /*Formato de los links*/
    color: rgb(255, 255, 255);
    font-family: math, Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------*/


/*Estilos para el main---------------------------------------------------------------------------------------*/

.bienvenidaGeneral{ /*Estilos generales para la seccion de bienvenida*/
    width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: blueviolet;
    box-shadow: 0 2px 10px rgba(254, 237, 0, 0.9);
}

.usoLeonel{ /*Estilos generales para la seccion del uso de leonel*/
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 30px;
    background-color: blueviolet;
    box-shadow: 0 2px 10px rgba(254, 237, 0, 0.9);

}

.ingresoChatbot{
    text-align: center;
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: blueviolet;
}

/*-----------------------------------------------------------------------------------------------------------*/

/*Estilos para el footer-------------------------------------------------------------------------------------*/

.creditos{
    text-align: center;
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: blueviolet;
}

.diego{
    text-align: left;
    width: 60%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid yellow;
    background-color: brown;
}

.uriel{
    text-align: left;
    width: 60%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid yellow;
    background-color: brown;
}

.herramienta{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 40px auto;
    padding: 10px;
    background-color: blueviolet;
}
/*-----------------------------------------------------------------------------------------------------------*/